@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* {
margin: 0 auto;
font-family:'Staatliches';
}
  
p {
    font-family: Arial, Helvetica, sans-serif;
}
  
header {
    background-image: url(images/ferrari.jpg);
    background-size: cover;
    background-position: center bottom 30%;
    background-repeat:no-repeat;
    padding-top: 10vh;
    height: 40vh;
    position: relative;
  }
  
  .header1 {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: black;
  }

  
  .header2 {
    position: absolute;
    bottom: 0;
    left: 10px;
  }
  
.location{
    color: white;
}
  
footer {
    background-color: #8d99ae;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    text-align: center;
    font-size: 30px;
}
  
button {
    border-radius: 0 !important;
    width: auto;
}
  
.navbar {
    background-color: #8d99ae
}
  
main {
    color: white;
    background-color: #2b2d42;
    height: auto;
}

.row{
    height: auto;
}

button{
  text-align: center;
  padding:10px 20px;
  border-radius: 4px;
  background-color: #8D99ae;
  color:#e85d04;
}

button:hover{
  color:white;
  background-color: #ef233c;
}

h1{
     color:#e85d04;
}

footer{
    position:relative;
}
